*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    
    
}
.quiz{
    width: 800px;
    height: 500px;
    background-color: blueviolet;
    display: grid;
    grid-auto-rows: 60px auto;
  
    border-radius: 8px;
    margin-top: -40px;
}
.quiz_header{
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 2px 8px black;
    z-index: 1;
    display: flex;
   
    justify-content: space-between;
    
}
.quiz_body{
    background-color: rgb(238, 235, 235);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 30px 50px;
}
.quiz_user{
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.quiz_timer{
    display: flex;
    align-items: center;
    /* padding: 0 50px;  */
    /* background-color: blue; */
}
.option_group{
    list-style-type: none;
    margin: 40px 0;
}
.option{
    background-color: white;
    width: 400px;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid transparent;
}
.option:hover{
    cursor: pointer;
    border: 2px solid black;
}
.btn-next{
    background-color: blue;
    color: white;
    padding: 15px 35px;
    border: none;
    box-shadow: 4px 4px 1px black;
    outline: none;
    transition: .5s all;


}
.btn-next:hover{
    border: none;
    outline: none;
    cursor: pointer;
   background-color: white;
   color: black;
   box-shadow:  4px 4px  5px black ;




}
.tr{
    margin-right:10px ;
    font-size: 20px;
    margin-left: 0;
    
}
#seconds{
 margin-right:10px ;   

}
#hours, #mins, #seconds{
    font-weight: bolder;


}