body{
    background-color: rgb(204, 204, 204);
}
#grid{
    background-color: aqua;
    width: 600px;
    height: 500px;
    margin: 0 auto ;
    padding: 10px 50px 50px 50px ;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow:  5px 5px 30px black;
}