*{
    margin: 0;
    padding: 0;
}


#start{
    position: absolute;
    /* margin-top: 25%;
    margin-left: 50%; */
}
.main-tab{
    position: absolute;
    /* display: none; */
    margin-top: 20%;
    margin-left: 45%;
    
}
